[submodule "DifFlow3D"]
	path = DifFlow3D
	url = git@github.com:JonathanZHC/DifFlow3D.git
	branch = main
[submodule "MultiViewRGBDTracker"]
	path = MultiViewRGBDTracker
	url = git@github.com:JonathanZHC/MultiViewRGBDTracker.git
[submodule "isaacscene"]
	path = isaacscene
	url = git@github.com:JonathanZHC/isaacscene.git
